.header{
    background:#3b5998;
    width:100%;
    height:85px;
}
body{
    margin:0px;
    font-family:Helvetica Neue,Helvetica, Arial,sans-serif ;
}
.logo{
    width:50%;
    padding-top:32px;
    float:left;
}
.login{
    width:50%;
    float:left;
}
.logo-text{
    color:#fff;
    font-size:35px;
    font-weight:bold;
    text-decoration:none;
    font-family:Arial, Helvetica Neue,Helvetica, sans-serif;
    margin-left: 170px;
}
.login-label{
    color: white;
    font-size: 11px;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top:10px;
}
.forgotten{
    color: #9cb4d8;
    font-size: 11px;
    text-decoration: none;
  
}
.sub-bttn{
    background: #4267b2;
    color:#fff;
    height:20px;
    border-color: #29487d;
    cursor:pointer;
}

.sub-bttn:hover{
    background: rgb(46, 61, 128);
}
.left-section{
    width:40%;
    float:left;
    padding-left: 134px;
    padding-top:52px;
}
.right-section{
    width:37%;
    float:left;
    padding-top: 16px;
    padding-left: 182px;
}
.main-body{
    background:linear-gradient(white,#D3D8E8);
    width:100%;
    height:640px;

}

.image{
    width:573px;

}
.para{
font-weight: bold;
    font-size: 21px;
}
.h4{
    font-weight:500;
}
.table{
    border-radius: 3px;
}
.name1{
    height: 24px;
    width: 170px;
    border-radius: 5px;
    font-size: 15px;
    border-color: white;
    padding-left: 8px;
}
.name2{
    height: 24px;
    width: 170px;
    border-radius: 5px;
    font-size: 15px;
    border-color: white; 
    padding-left:8px;
    margin-left:-188px;
    
}
.email{
    height: 24px;
    width: 374px;
    border-radius: 5px;
    font-size: 15px;
    border-color: white;
    padding-left: 8px;
    margin-top: 9px;
}
.password{
    height: 24px;
    width: 374px;
    border-radius: 5px;
    font-size: 15px;
    border-color: white;
    padding-left: 8px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.birthday{
    font-size: 14px;
    padding-top: 20px;
}
.day{
    margin-bottom:10px ;
    border-radius:5px;
    margin-left:2px;
}

.gender{
    font-size: 14px;
    padding-top: 20px;
}
.text{
    font-size:11px;
}
.blue{
    font-size:12px;
    color:blue;
}
#signup{
    width: 196px;
    height: 37px;
    border-radius: 5px;
    background-color: rgb(105, 167, 78);
    color: #fff;
    border-color:rgb(59,110,34);
    cursor: pointer;
    font-size:18px;
    margin-bottom:9px;
}
.blue1{
    font-size:12px;
    color:blue;
}
.last{
    font-size:13px;
    color:black;
}