.header{
    width:133%;
    background-color: var(--N100, #fff);
    height: 72px;
    font-family:Satoshi;
}

.logo{
    padding-top:13px;
    padding-left:150px;
    float:left;
}
.about{
    float:left;
    padding-top:10px;
    padding-left:50px;
    font-size:18px;
    text-decoration: none;

}
.job{
    text-decoration: none;
    color: var(--N700, #474d6a);
    display: flex;
    font-size: 16px
}
.companies{
    padding-left:40px;
}
.services{
    padding-left:40px;
}
.search{
    margin-left: 43px;
    width: 196px;
    height: 30px;
    padding-left: 17px;
    border-radius: 19px;
    border-color: white;
    border: solid 0.5px
}
.login-but{
    margin-left: 43px;
    width: 77px;
    height: 41px;
    padding-left: 11px;
    border-radius: 19px;
    border-color: white;
    border: solid 1px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    background: white;
}
.register{
    background-color:#f05537;
    border-color: #f05537;
    border-radius:19px;
    color: #fff;
    height: 40px;
    margin-left: 10px;
    width: 101px;
    font-weight: bold;
    font-size:16px;
    border-style:none;
}
.details{
    border-color: #fff;
    border-width: 0px;
}
body{
    background:#f8f9fa;
    width: 1120px;
    margin:0px;
    font-family: Arial;
}
.companies-hiring{
    color:black;
    margin: 36px;
    max-height: 120px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 93px;
    
}
.comp1{
    background-color:#E7E7F1;
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 16px;
    background-size: 100%;
    box-sizing: border-box;
    height: 148px;
    margin-left: 35px;
}
.black{
    color:black;
}
.h1{
    font-weight: 900;
    font-size: 40px;
    line-height: 54px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 50px;
    margin-left: 213px;
    
}
.h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: black;
    text-align: center;
    padding-top:1px;
    margin-left: 213px;
}
.data{
    width:900px;
    height:70px;
    background: white;
    margin-left:150px;
    box-sizing: border-box;
    box-shadow: 0 25px 60px rgba(113, 106, 147, .2);
    border-radius: 40px;
}
.icon{
  display:inline-block;
  padding-left: 28px;
    padding-top: 24px;
    float:left;
}

.skills{
    
    float:left;
    outline:none;
    border:0px;
    margin-top: 12px;
    font-size: 18px;
    width: 334px;
    font-weight: 500;
    line-height: 23px;
    color: var(--N800);
    margin-left: 5px;
    display:flex;

}
.exp{
    float:left;
    border:none;
    outline:none;
    margin-top: 12px;
    font-size: 18px;
    width: 175px;
    font-weight: 500;
    line-height: 23px;
    color: var(--N800);
    margin-left: 5px;
    display:flex;
    margin-top:24px;
}
.select{
    font-size: 14px;
    float:left;
    width: 16px;
    margin-left: -36px;
    outline: none;
    border: none;

}
.years{
    width: 16px;
    margin-left: -36px;
    outline: none;
    border: none;
}


.loc{
    float:left;
    border:none;
    outline:none;
    margin-top: 12px;
    font-size: 18px;
    width: 140px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--N800);
    margin-left: 5px;
    display:flex;
}
.pipe{
    float: left;
    border: 1px solid var(--N400, #e7e7f1);
    height: 20px;
    margin: 24px 7px;
    background-color: var(--N400, #e7e7f1);
    width: 1px;
    
}
.search-butt{
    float:left;
    margin-left: 22px;
    padding: 10px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: var(--P100);
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    background: #275df5;
    margin-top:13px;
}

.mnc{
    background: white;
    width: 170px;
    height: 62px;
    float: left;
    padding: 20px 25px;
    border-radius: 16px;
    justify-content: center;
    margin-right: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35px;
    border:solid 1px;
    border-color:black;
}
.internet{
    background: white;
    width: 170px;
    height: 62px;
    float: left;
    padding: 20px 25px;
    border-radius: 16px;
    justify-content: center;
    margin-right: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35px
}
.manuf{
    background: white;
    width: 170px;
    height: 62px;
    float: left;
    padding: 20px 25px;
    border-radius: 16px;
    justify-content: center;
    margin-right: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35px
}

.prod{
    background: white;
    width: 170px;
    height: 62px;
    float: left;
    padding: 20px 25px;
    border-radius: 16px;
    justify-content: center;
    margin-right: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 35px

}

ul{
    list-style: none;
    background: white;
} 
ul li{
    
    position: relative;
}   
ul li a{
    display: block;
    padding: 2px 1px;
    color: var(--N800);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    margin-left: -37px;
}
ul li ul.dropdown li{
    display:block;
}
ul li ul.dropdown{
    width:200px;
    background:white;
    position:absolute;
    z-index:999;
    display:none;
}
ul li a:hover{
background:white;
}
ul li:hover ul.dropdown{
    display:block;
}


    
